main {
  display: flex;
  height: 100%;
}
sidebar {
  flex: 0 0 180px;
  height: 100%;
  background-color: #243443;
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  color: white;
}
sidebar .avatar {
  width: 80px;
  height: 80px;
  margin: 50px auto;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.3);
}
sidebar .avatar img {
  display: block;
  width: 100%;
}
sidebar h4 {
  margin-top: -20px;
  margin-bottom: 30px;
  text-align: center;
}
sidebar .list-unstyled {
  padding-left: 0;
  list-style: none;
}
sidebar .list-unstyled li {
  text-align: left;
  text-indent: 15px;
  font-size: 12px;
  display: list-item;
  line-height: 30px;
}
sidebar .list-unstyled li a {
  color: white;
  text-decoration: none;
}
sidebar .list-unstyled > li:hover {
  background-color: blue;
}
/*右侧内容部分*/
content {
  background-color: #F4F6F8;
  height: 100%;
  flex: 1;
  padding: 0px 0 30px 180px;
}
content .navbar-default {
  background-color: white;
}
content .navbar-default .fa-navicon {
  color: white;
  padding: 5px 7px;
  background-color: #5cb85c;
}
content .navbar-default .navbar-nav > li > a {
  color: #337AB7;
}
